<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mate机构测试</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>

<script type="text/javascript" src="../static/js/jquery-3.6.3.min.js">
</script>
<script type="text/javascript" src="../static/js/bootstrap.js">
</script>
<nav class="navbar navbar-expand-lg bg-body-tertiary"style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="action_test">Mate机构测试</a>
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="action_tube_move">挑管测试</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="action_rack_move">移盒测试</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="action_all_test">全流程测试</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="input-group mb-3">
  <span class="input-group-text">PLC_IP</span>
  <input type="text" id="ip" class="form-control" VALUE={{plc_ip}} aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    <span class="input-group-text" >PLC_PORT</span>
  <input type="text" id="port" class="form-control" value={{plc_port}} aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  <span class="input-group-text" >plc模式</span>
  <select class="form-select" id="select">
    <option value="SLMP" selected>SLMP</option>
    <option value="MODBUS">MODBUS</option>
  </select>
</div>

<button type="button" id="but_storing" class="btn btn-primary btn-lg" onclick="test_con()">开始连接</button>


  <button class="btn btn-success btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    使用方法
  </button>


<div style="min-height: 120px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample">
    <div class="card card-body" style="width: 400px;left:50px">
      该界面是测试通讯是否正常，请确认连接信息是否正确，确认后点击开始连接按钮通讯是否可以正常连接
    </div>
  </div>
</div>
<script type="text/javascript">
function test_con(){
var ip = document.getElementById('ip').value;
var port = document.getElementById('port').value;
var select =  $('#select option:selected').val();
$.ajax({
url:'/action_test_con',
type:'get',
data:{IP:ip,PORT:port,SELECT:select},
success:function(msg){
alert(msg)
}
})
}
</script>


</body>
</html>